In [1]:
import pandas as pd

In [5]:
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx",usecols=["Name"])
pokemon

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

# extract values from index position

In [9]:
pokemon[1:3]

       Name
1   Ivysaur
2  Venusaur

In [11]:
pokemon[3]  # this is not working over here but was working in video

NameError: name 'Name' is not defined

In [13]:
pokemon[2:5]

                    Name
2               Venusaur
3  VenusaurMega Venusaur
4             Charmander

In [14]:
pokemon[:20]

                         Name
0                   Bulbasaur
1                     Ivysaur
2                    Venusaur
3       VenusaurMega Venusaur
4                  Charmander
5                  Charmeleon
6                   Charizard
7   CharizardMega Charizard X
8   CharizardMega Charizard Y
9                    Squirtle
10                  Wartortle
11                  Blastoise
12    BlastoiseMega Blastoise
13                   Caterpie
14                    Metapod
15                 Butterfree
16                     Weedle
17                     Kakuna
18                   Beedrill
19      BeedrillMega Beedrill

In [17]:
pokemon[-20,-10] # in video it was working

TypeError: 'DataFrame' object is not callable

#  extract values by index label

In [22]:
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx",index_col="Name",squeeze=True)
# i put Name in index volumn
pokemon

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True

In [29]:
pokemon.head(4)

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False

In [25]:
pokemon["Bulbasaur"]   # was working i video

SyntaxError: invalid syntax (<ipython-input-25-3a8bb62cbf57>, line 1)


#   .get() method in series

In [33]:
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx",usecols=["Name"])
pokemon

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [35]:
pokemon.get(key="Ivysaur",default="this is new way i foind")   # it shoild print data but no

'this is new way i foind'

# math method in series object

In [36]:
pokemon.count()    # it does not null or missing  value bur sadly in this dataset we are not dealing with null

Name    800
dtype: int64

In [37]:
len(pokemon) #itinclude everyything

800

In [38]:
pokemon.sum()

Name    BulbasaurIvysaurVenusaurVenusaurMega VenusaurC...
dtype: object

In [40]:
pokemon.mean()   # becaue we have strring thats why no result

Series([], dtype: float64)

In [41]:
pokemon.sum()/pokemon.count()  # it will work if we having integer in my dataset

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [42]:
pokemon.std()

Series([], dtype: float64)

In [43]:
pokemon.min()

Name    Abomasnow
dtype: object

In [44]:
pokemon.max()

Name    Zygarde50% Forme
dtype: object

In [45]:
pokemon.median() it is middle value

Series([], dtype: float64)

In [46]:
pokemon.mode()   # occured frequently

                        Name
0                  Abomasnow
1    AbomasnowMega Abomasnow
2                       Abra
3                      Absol
4            AbsolMega Absol
..                       ...
795                  Zoroark
796                    Zorua
797                    Zubat
798                 Zweilous
799         Zygarde50% Forme

[800 rows x 1 columns]

In [47]:
pokemon.describe()

             Name
count         800
unique        800
top     Salamence
freq            1

#  the.idxmin()  and .idxmax() methods

In [49]:
pokemon.idxmax() # not working  ,it will pic which has maximun size

SyntaxError: invalid syntax (<ipython-input-49-6a24c23fa0bc>, line 1)

#  .value_counts() methods

In [50]:
pokemon.value_counts()  # it was working in video

AttributeError: 'DataFrame' object has no attribute 'value_counts'

# .map() method

In [52]:
pokemon=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx",usecols=["Name"])
pokemon_new=pd.read_excel(r"C:\Users\Ajay\Desktop\pokemon_data.xlsx",usecols=["Name"]).to_dict()

In [53]:
pokemon.head(3)

        Name
0  Bulbasaur
1    Ivysaur
2   Venusaur

In [55]:
pokemon.map(pokemon_new)  # it was working in video and it works like oin and it will not dislay coomin fielt

AttributeError: 'DataFrame' object has no attribute 'map'