In [ ]:
# creating a jupyter notebook  for the series

# Create a series object from a python list

In [1]:
ice_cream=["chocolate",'Vanilla','strawberry','Ram raisin']
import pandas as pd

In [2]:
pd.Series(ice_cream)    # series is a method
# and dtype stand for datatype and now it si showing object which mean string becsue we have string value

0     chocolate
1       Vanilla
2    strawberry
3    Ram raisin
dtype: object

In [3]:
number=[2,0,12,9,1,00,01,010]
pd.Series(number)

SyntaxError: invalid token (<ipython-input-3-b9a73ee291b0>, line 1)

In [4]:
number=[2,0,12,9,1,0,1,10]
pd.Series(number)

0     2
1     0
2    12
3     9
4     1
5     0
6     1
7    10
dtype: int64

In [5]:
bool=[true,false,True,False]
pd.Series(bool)   # i used lower case at starting of true an false

NameError: name 'true' is not defined

In [6]:
bool=[True,False,True,False]
pd.Series(bool)

0     True
1    False
2     True
3    False
dtype: bool

# create a series object from dictionary

In [8]:
keyvalue ={"name":"ajay sharma",
          "class":"12th",
          "degree":"mca"}
pd.Series(keyvalue)   #  it  is a key value pairin strring

name      ajay sharma
class            12th
degree            mca
dtype: object

In [9]:
keyvalue ={1:"ajay sharma",
          2:"12th",
          3:"mca"}
pd.Series(keyvalue)   # value is string only

1    ajay sharma
2           12th
3            mca
dtype: object

In [10]:
keyvalue ={1:22,
          2:33,
          3:44,
          3:44}
pd.Series(keyvalue) # it automatically remove duplicate value

1    22
2    33
3    44
dtype: int64

In [11]:
keyvalue ={1:22,
          2:33,
          3:44,
          3:4}
pd.Series(keyvalue)    #if key or index is same the it automaticaaly pic last duplicate vaslue

1    22
2    33
3     4
dtype: int64

In [12]:
keyvalue ={1:22,
          2:33,
          3:44,
          3:48}
pd.Series(keyvalue) # dtype showing int64 ,it represent value  datatype,not key datatype

1    22
2    33
3    48
dtype: int64

In [13]:
keyvalue ={1:22,
          2:33,
          3:44,
          3:48,
          3:333}
pd.Series(keyvalue)  # it pic last record

1     22
2     33
3    333
dtype: int64